workflows/OBzkPWmTXjNZosaM.json
{"createdAt":"2025-05-26T12:35:31.032Z","updatedAt":"2025-06-03T23:21:58.532Z","id":"OBzkPWmTXjNZosaM","name":"C3Plan RAG All","active":false,"nodes":[{"parameters":{},"id":"417b3b13-e663-494b-a349-6994fe5587fc","name":"Postgres Chat Memory","type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1,"position":[-420,280],"notesInFlow":false,"credentials":{"postgres":{"id":"LtUvizUisCSKWSoT","name":"Postgres Supabase"}}},{"parameters":{"content":"## C3App Chat Interface","height":125,"width":236},"id":"1a80b5ce-0ab0-4b95-ad61-4947d4131c45","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1160,140]},{"parameters":{"options":{}},"id":"daf83527-5408-4245-be67-ceb2d3a262be","name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[0,0]},{"parameters":{"public":true,"initialMessages":"Hi there! 👋\nMy name is Victor. How can I assist you today?","options":{}},"id":"3303e007-a593-48c6-b3c6-89f3144802f9","name":"When chat message received","type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[-820,60],"webhookId":"e104e40e-6134-4825-a6f0-8a646d882662"},{"parameters":{"httpMethod":"POST","path":"bf4dd093-bb02-472c-9454-7ab9af97bd1d","responseMode":"responseNode","options":{}},"id":"58d32ed2-7f88-4cff-8f64-ad5b750e09a3","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-820,260],"webhookId":"bf4dd093-bb02-472c-9454-7ab9af97bd1d"},{"parameters":{"descriptionType":"manual","toolDescription":"Given a file ID (file_path parameter), fetches the text from the document. The file_path will look something like this: /data/shared/Radiance_Solar.pdf","operation":"executeQuery","query":"SELECT \n    string_agg(text, ' ') as document_text\nFROM documents_pg\n  WHERE metadata->>'file_path' = $1\nGROUP BY metadata->>'file_path';","options":{"queryReplacement":"={{ $fromAI('file_path') }}"}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.5,"position":[40,280],"id":"99b65171-7320-457b-b21f-f54002aeb6b1","name":"Get File Contents","credentials":{"postgres":{"id":"LtUvizUisCSKWSoT","name":"Postgres Supabase"}}},{"parameters":{"model":"nomic-embed-text:latest"},"type":"@n8n/n8n-nodes-langchain.embeddingsOllama","typeVersion":1,"position":[440,260],"id":"a2f583c0-eb94-49da-9936-cdd7571858d3","name":"Embeddings Ollama Chat","credentials":{"ollamaApi":{"id":"yM1QH7xdMzXQzdfe","name":"Ollama account"}}},{"parameters":{"mode":"retrieve-as-tool","toolName":"documents","toolDescription":"Use RAG to look up information in the knowledgebase.","tableName":"documents_pg","topK":30,"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStorePGVector","typeVersion":1,"position":[340,60],"id":"b23538ea-ab21-4d6a-854c-ca4be7fe1e88","name":"Postgres PGVector Store Chat","credentials":{"postgres":{"id":"LtUvizUisCSKWSoT","name":"Postgres Supabase"}}},{"parameters":{"assignments":{"assignments":[{"id":"9a9a245e-f1a1-4282-bb02-a81ffe629f0f","name":"chatInput","value":"={{ $json?.chatInput || $json.body.chatInput }}","type":"string"},{"id":"b80831d8-c653-4203-8706-adedfdb98f77","name":"sessionId","value":"={{ $json?.sessionId || $json.body.sessionId}}","type":"string"},{"id":"fb928bed-6bbc-483c-8363-1fd5c489a8b7","name":"client","value":"BC Hydro","type":"string"}]},"options":{}},"id":"412f7fc6-0a47-403a-8270-a54101cc2f42","name":"Set chatInput and sessionId","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-560,60]},{"parameters":{"model":"gpt-4.1-mini","options":{"maxTokens":32768}},"type":"@n8n/n8n-nodes-langchain.lmChatAzureOpenAi","typeVersion":1,"position":[-560,280],"id":"127c64d8-4980-4e84-b41f-334d2eaf0f8a","name":"Azure OpenAI gpt-4.1-mini","credentials":{"azureOpenAiApi":{"id":"D1lfxOlHmM9crYiB","name":"Azure gpt-4.1-mini"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Use this tool to fetch all available documents, including the table schema if the file is a CSV or Excel file.","operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"document_metadata","mode":"list","cachedResultName":"document_metadata"},"returnAll":true,"where":{"values":[{"column":"=company","value":"={{ $('Set chatInput and sessionId').item.json.client }}"}]},"options":{}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.5,"position":[-280,280],"id":"3c7b4fcd-4a02-459a-bab7-b2578287d25e","name":"List document metadata","credentials":{"postgres":{"id":"LtUvizUisCSKWSoT","name":"Postgres Supabase"}}},{"parameters":{"promptType":"define","text":"={{ $json.chatInput }}","options":{"systemMessage":"=You were given several files for several different clients, but the client in scope is {{ $json.client }}. For each question, you should check the available documents using the 'List document metadata' tool, which will provide you with the following info (the below is just an example):\n\n{\"loc\": {\"lines\": {\"to\": 1, \"from\": 1}}, \"title\": \"BC Hydro - BC Hydro - NIST CSF v2 Assessment\", \"source\": \"blob\", \"company\": \"BC Hydro\", \"file_id\": \"BC Hydro-BC_Hydro_-_NIST_CSF_v2_Assessment.xlsx\", \"blobType\": \"text/plain\", \"file_ext\": \"xlsx\", \"file_name\": \"BC Hydro - NIST CSF v2 Assessment.xlsx\", \"file_path\": \"/data/shared/BC Hydro - NIST CSF v2 Assessment.xlsx\", \"file_size\": 110776, \"file_mimetype\": \"application/vnd.openxmlformats-officedocument.spreadsheetml.sheet\"}\n\nThere will be a csv or xlsx file that will contain the assessment of each individual NIST CSF v2.0 practice, which could be for one or multiple business areas. You will need to check the schema column on the table document_metadata to identify what the columns are about, although the 'Query practice rows' tool will provide more information. \n\nFor other contextual information, use the documents_pg table."}},"id":"d1324ce2-4d64-4222-9dd5-d6b943ab61ec","name":"C3Plan Azure Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.6,"position":[-340,60]},{"parameters":{"descriptionType":"manual","toolDescription":"The dataset is stored in the document_rows table. Each row represents a record, with metadata stored in the row_data JSONB column. The dataset is identified using the dataset_id field, which always matches the file_path of a document (e.g. /data/shared/BC Hydro - NIST CSF v2 Assessment.xlsx).\n\nAll SQL queries must use the document_rows table. Do not query from the file_path. Instead, always use a WHERE clause to filter by dataset_id, comparing it to the desired file_path value.\n\nAll column data is stored inside the row_data JSONB field. Column values must be accessed using the ->> operator and the full column name string (e.g. row_data->>'Function').\n\nColumn definitions and types:\n\nFunction: text\nCategory: text\nIndex: text\nSubcategory Description: text\nDescription: text\nC3 Question: text\nC3 Scoring Criteria (scale 1 to 5): text\n\nAll remaining columns are business area–specific score and comment fields. Their names must be used exactly, including spaces and punctuation.\n\nThese include:\n\nBusiness Area | Gen.MRS-Low | Score\nBusiness Area | Gen.MRS-Low | Comments\nBusiness Area | Gen.MRS-Med | Score\nBusiness Area | Gen.MRS-Med | Comments\nBusiness Area | Trans.MRS-Low | Score\nBusiness Area | Trans.MRS-Low | Comments\nBusiness Area | Trans.MRS-Med | Score\nBusiness Area | Trans.MRS-Med | Comments\nBusiness Area | TDSO.MRS High | Score\nBusiness Area | TDSO.MRS High | Comments\nBusiness Area | Gen.Non-MRS | Score\nBusiness Area | Gen.Non-MRS | Comments\nBusiness Area | Trans.Non-MRS | Score\nBusiness Area | Trans.Non-MRS | Comments\nBusiness Area | TDSO.Non-MRS | Score\nBusiness Area | TDSO.Non-MRS | Comments\nBusiness Area | Dist.Non-MRS | Score\nBusiness Area | Dist.Non-MRS | Comments\nBusiness Area | Dam.Non-MRS | Score\nBusiness Area | Dam.Non-MRS | Comments\nBusiness Area | NIA.Non-MRS | Score\nBusiness Area | NIA.Non-MRS | Comments\n\nDo not treat file_path or file_name as a table. Always query from document_rows and filter using dataset_id = 'file_path'.\n\nAvoid quoting file paths or trying to cast them as table names. All column values must come from the row_data JSONB structure.\n\nNever remove or reorder parts of a column name. Always use the full exact name, including prefixes like \"Business Area |\". For example: use \"Business Area | Gen.Non-MRS | Score\", not \"Gen.Non-MRS | Score\".","operation":"executeQuery","query":"{{ $fromAI('sql_query') }}","options":{}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.5,"position":[-120,280],"id":"f914ff69-1f9c-4d9e-80b4-aa9dc487e509","name":"Query practice rows","credentials":{"postgres":{"id":"LtUvizUisCSKWSoT","name":"Postgres Supabase"}}},{"parameters":{"operation":"executeQuery","query":"SELECT AVG(\n  CASE\n    WHEN NULLIF(TRIM(row_data->>'Business Area | Gen.Non-MRS | Score'), '') ~ '^[0-9]+(\\\\.[0-9]+)?$'\n    THEN (TRIM(row_data->>'Business Area | Gen.Non-MRS | Score'))::numeric\n    ELSE NULL\n  END\n) AS average_score\nFROM document_rows\nWHERE dataset_id = '/data/shared/BC Hydro - NIST CSF v2 Assessment.xlsx'\nAND LOWER(TRIM(row_data->>'Function')) = 'recover';","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[700,400],"id":"4d501ba2-208c-42b9-87af-d908a15bb680","name":"Postgres1","credentials":{"postgres":{"id":"LtUvizUisCSKWSoT","name":"Postgres Supabase"}}}],"connections":{"Postgres Chat Memory":{"ai_memory":[[{"node":"C3Plan Azure Agent","type":"ai_memory","index":0}]]},"When chat message received":{"main":[[{"node":"Set chatInput and sessionId","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Set chatInput and sessionId","type":"main","index":0}]]},"Get File Contents":{"ai_tool":[[{"node":"C3Plan Azure Agent","type":"ai_tool","index":0}]]},"Embeddings Ollama Chat":{"ai_embedding":[[{"node":"Postgres PGVector Store Chat","type":"ai_embedding","index":0}]]},"Postgres PGVector Store Chat":{"ai_tool":[[{"node":"C3Plan Azure Agent","type":"ai_tool","index":0}]]},"Set chatInput and sessionId":{"main":[[{"node":"C3Plan Azure Agent","type":"main","index":0}]]},"Azure OpenAI gpt-4.1-mini":{"ai_languageModel":[[{"node":"C3Plan Azure Agent","type":"ai_languageModel","index":0}]]},"List document metadata":{"ai_tool":[[{"node":"C3Plan Azure Agent","type":"ai_tool","index":0}]]},"C3Plan Azure Agent":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Query practice rows":{"ai_tool":[[{"node":"C3Plan Azure Agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"d4682ff2-59dc-4e2e-841d-04e5b6c4603b","triggerCount":0,"tags":[]}